---
import Layout from '@layouts/Layout.astro'
---

<Layout>
  <h1>WELCOME</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat ipsa
    saepe nesciunt numquam quibusdam reiciendis ad obcaecati, debitis
    blanditiis, ut placeat illum eligendi veritatis? Quis iste consequuntur
    atque deleniti in!
  </p>
</Layout>

